.header-div {
  background-color: rgb(226, 226, 226);
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100vw;
}

.header-nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.header-nav a {
  color: black;
  font-size: 40px;
  margin: 5px 20px;
  text-decoration: none;
}

.header-nav button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
}

.header-nav button:hover {
  background-color: rgba(199, 199, 199, 0.432);
  cursor: pointer;
}

.header-nav button:active {
  background-color: rgba(161, 161, 161, 0.432);
}

.header-nav button:focus {
  border: none;
  outline: none;
}

.header-nav img {
  fill: rgb(121, 121, 121);
  height: 45px;
  padding: 7px;
  width: 45px;
}

@media only screen and ( max-width : 360px ) {

  .header-div {
    background-color: rgb(226, 226, 226);
    display: flex;
    height: 55px;
    justify-content: center;
    width: 100vw;
  }

  .header-nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .header-nav a {
    color: black;
    font-size: 25px;
    margin: 5px 20px;
    text-decoration: none;
  }

  .header-nav button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
  }

  .header-nav button:hover {
    background-color: rgba(199, 199, 199, 0.432);
    cursor: pointer;
  }

  .header-nav button:active {
    background-color: rgba(161, 161, 161, 0.432);
  }

  .header-nav button:focus {
    border: none;
    outline: none;
  }

  .header-nav img {
    fill: rgb(121, 121, 121);
    height: 35px;
    padding: 7px;
    width: 35px;
  }
}
